@import '../../../style/variables';

nav {
  background-color: $color-primary;
  border-bottom: solid 3px $color-secondary;
  margin-bottom: 5%;
  & a {
    color: $color-secondary;
    text-decoration: none;
    transition: all ease .25s;
    font-family: sans-serif;
    text-transform: lowercase;
  }
  & li {
    display: inline-block;
    padding: 2%;
    transition: all ease .25s;
    &:hover {
      background-color: $color-secondary;
      & a {
        color: $color-primary;
      }
    }
  }
}
